
    <div class="admin">
        <form method="post" class="form-x" action="{:U('Usr/addusr')}">
            <div class="form-group">
                <div class="label"><label for="name">用户账号</label></div>
                <div class="field">
                    <input type="text" class="input" id="name" name="name" size="50" placeholder="用户名称" data-validate="required:请填写新用户名称" />
                </div>
            </div>
            <div class="form-group">
                <div class="label"><label for="pwd">用户密码</label></div>
                <div class="field">
                    <input type="password" class="input" id="pwd" name="pwd" size="50" placeholder="用户密码，位数不小于 5" data-validate="required:请填写密码,length#>=5:密码长度不符合要求 (>5)" />
                </div>
            </div>
            <div class="form-group">
                <div class="label"><label for="comfirmpwd">确认密码</label></div>
                <div class="field">
                    <input type="password" class="input" id="comfirmpwd" name="comfirmpwd" size="50" placeholder="用户密码，位数不小于 5" data-validate="required:请填写确认密码,repeat#pwd:两次输入的密码不一致" />
                </div>
            </div>
            <div class="form-group">
                <div class="label"><label for="name">真实姓名</label></div>
                <div class="field">
                    <input type="text" class="input" id="realname" name="realname" size="50" placeholder="真实姓名" data-validate="required:请填写用户真实姓名" />
                </div>
            </div>
            <div class="form-group">
                <div class="label"><label>用户性别</label></div>
                <div class="field">
                    <div class="button-group radio"> 
                        <label class="button active">
                            <input name="sex" value="1" checked="checked" type="radio"> 男
                        </label> 
                        <label class="button">
                            <input name="sex" value="2" type="radio"> 女
                        </label> 
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="label"><label for="age">用户年龄</label></div>
                <div class="field">
                    <input type="text" class="input" id="age" name="age" size="50" placeholder="用户年龄" data-validate="required:请填写用户年龄,number:用户年龄必须为整数" />
                </div>
            </div>
            <div class="form-group">
                <div class="label"><label for="phone">联系方式</label></div>
                <div class="field">
                    <input type="text" class="input" id="phone" name="phone" size="50" placeholder="联系方式" data-validate="number:请填写正确的联系方式" />
                </div>
            </div>
            <div class="form-group">
                <div class="label"><label for="email">邮件地址</label></div>
                <div class="field">
                    <input type="text" class="input" id="email" name="email" size="50" placeholder="请填写邮件地址" data-validate="email:请填写正确的邮件地址" />
                </div>
            </div>
            <div class="form-group">
                <div class="label"><label for="address">家庭住址</label></div>
                <div class="field">
                    <input type="text" class="input" id="address" name="address" size="50" placeholder="请填写用户住址，建议在20字以内"/>
                </div>
            </div>
            <div class="form-group">
                <div class="label"><label>用户组别</label></div>
                <div class="field">
                    <select class="input" name="state" id="state" data-validate="required:请填写选择正确用户组">
                        <option value="">请选择</option> 
                        <option value="1">超级管理员</option>
                        <option value="2">教师管理员</option>
                        <option value="3">学生管理员</option>
                    </select>
                </div>
            </div>
            <div class="form-button">
                <button class="button bg-main" type="submit">提交</button>
                <button class="button bg-yellow form-reset " type="reset">重设</button>
            </div>
        </form>  
        <p class="text-right text-gray">基于<a class="text-gray" target="_blank" href="#">郑少卓</a>构建   </p>
    </div>