
    <div class="admin">
        <div class="panel admin-panel">
          <div class="panel-head">
                <a class="button button-small border-green dialogs disabled" name="addmsg" href="#" data-toggle="click" data-target="#mymsgdialog" data-mask="1" data-width="50%">新增消息</a>
            </div>
            <div class="padding border-bottom">
                <form action="{:U('Msg/index')}" class="form-inline">
                    <div class="form-group">
                        <div class="label"><label for="keys">关键字</label></div>
                        <div class="field">
                            <input type="text" class="input" id="keys" name="keys" size="12" value="<?php echo isset($seachData['keys']) && !empty($seachData['keys']) ? $seachData['keys'] : '';?>" placeholder="关键字" />
                        </div>
                    </div>
                    &nbsp;
                    &nbsp;
                    <div class="form-group">
                        <div class="label"><label for="receive">发送者</label></div>
                        <div class="field">
                            <select class="input" name="receive" id="receive">
                                <option value="">请选择</option>
                                <option <?php echo $seachData['receive'] == 1 ? 'selected="selected"' : '' ;?> value="1">管理员</option>
                                <option <?php echo $seachData['receive'] == 2 ? 'selected="selected"' : '' ;?> value="2">指导老师</option>
                                <option <?php echo $seachData['receive'] == 3 ? 'selected="selected"' : '' ;?> value="3">学生</option>
                            </select>
                        </div>
                    </div>
                    &nbsp;
                    &nbsp;
                    <div class="form-button">
                        <button class="button bg-green" type="submit">检索</button>
                    </div>
                </form>
            </div>
            <table class="table table-hover">
                <tr>
                    <th width="80">消息编号</th>
                    <th width="100">发信人</th>
                    <th width="100">收信人</th>
                    <th width="*">信息内容</th>
                    <th width="140">发送时间</th>
                    <th width="80">操作</th>
                </tr>
                <volist name="List" id="index">
                <tr>
                    <td>{$index.msgId}</td>
                    <td>{$index.msgFromId}</td>
                    <td>{$index.msgAccessId}</td>
                    <td>{$index.msgContent}</td>
                    <td>{$index.createTime|date="m-d i:m:s",###}</td>
                    <td>
                        <input type="hidden" name="id" value="{$index.msgId}"/>
                        <a class="button border-green button-little dialogs" name="delete" href="#" data-toggle="click" data-target="#mydialog" data-mask="1" data-width="30%">删除</a>
                        </if>
                    </td>
                </tr>
                </volist>
                </table>
            <div class="panel-foot text-center">
                <div class ="green-black">{$page}</div>
            </div>
        </div>
        <br />
        <p class="text-right text-gray">基于<a class="text-gray" target="_blank" href="#">郑少卓</a>构建   </p>
    </div>

    <div id="mydialog"> 
        <div class="dialog"> 
            <div class="dialog-head"> 
                <span class="close rotate-hover"></span> 
                <strong>课题操作</strong> 
            </div> 
            <div class="dialog-body">
                <div class="form-group">
                    <p>是否确认要删除该消息？</p>
                    <p>O(∩_∩)O~~(为不可恢复删除)</p>
                </div>
                <input type="button" class="button bg-main" value="删了吧" onclick="javascript:del();" />
                <button class="button bg-yellow" type="reset">反悔了</button>
            </div> 
        </div> 
    </div>

    <div id="mymsgdialog"> 
        <div class="dialog"> 
            <div class="dialog-head"> 
                <span class="close rotate-hover"></span> 
                <strong>新增消息</strong> 
            </div> 
            <div class="dialog-body">
                <form action="{:U('Msg/addMsg')}" method="post">
                    <div class="form-group">
                        <div class="label"><label for="receive">收信人：</label></div>
                        <div class="field">
                            <select class="input" name="receive" id="receive">
                                <option value="1">所有人</option>
                                <option value="2">所有教师</option>
                                <option value="3">所有学生</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="label"><label for="content">信息内容：</label></div>
                        <div class="field">
                            <textarea class="input" rows="3" name="content" id="content" cols="30" placeholder="信息内容"></textarea>
                        </div>
                    </div>
                    <div class="form-button">
                        <input type="submit" class="button bg-main" value="Send ..." />
                        <button class="button bg-yellow" type="reset">刷新</button>
                    </div>
                </form>
            </div> 
        </div> 
    </div>

    <script>
        var ID = null;
        function del(){
            window.location.href = "{:U('Msg/delMsg/id/" + ID +"')}";
        }
        $(function(){

            $(".table a[name='delete']").click(function(){
                var id = $(this).parent().find("input[name='id']").val();
                ID = id;
            });
        });
    </script>