
<div class="adminme">
        <form method="post">
            <div class="panel admin-panel">
                <div class="panel-head"><strong>内容列表</strong></div>
                <div class="padding border-bottom">
                    <input type="button" class="button button-small border-green" value="新增毕设" onclick="javascript:window.location.href='#';" />
                    <input type="button" class="button button-small border-blue" value="回收站" onclick="javascript:window.location.href='#'" />
                </div>
                <table class="table table-hover">
                    <tr>
                        <th width="80">课题编号</th>
                        <th width="110">课题名称</th>
                        <th width="*">课题内容</th>
                        <th width="160">必备知识</th>
                        <th width="140">操作</th>
                    </tr>
                    <volist name="bsList" id="index">
                    <tr>
                        <td>{$index.gpId}</td>
                        <td>{$index.gpTitle}</td>
                        <td>{$index.gpContent}</td>
                        <td>{$index.gpMust}</td>
                        <td>
                            <input type="hidden" name="id" value="{$index.gpId}"/>
                            <a class="button border-yellow button-little" name="check" href="#">修改</a>
                            <a class="button border-blue button-little" name="modify" href="#">修改</a>
                            <a class="button border-green button-little dialogs" name="delete" href="#" data-toggle="click" data-target="#mydialog" data-mask="1" data-width="30%">删除</a>
                        </td>
                    </tr>
                    </volist>
                    </table>
                <div class="panel-foot text-center">
                    page
                </div>
            </div>
        </form>  
        <p class="text-right text-gray">基于<a class="text-gray" target="_blank" href="#">郑少卓</a>构建   </p>
</div>
       
   <div id="mydialog"> 
        <div class="dialog"> 
            <div class="dialog-head"> 
                <span class="close rotate-hover"></span> 
                <strong>删除操作</strong> 
            </div> 
            <div class="dialog-body">
                <div class="form-group">
                    <p>是否确认要删除该课题？</p>
                    <p>O(∩_∩)O~~(为不可恢复删除)</p>
                </div>
                <input type="button" class="button bg-main" value="删了吧" onclick="javascript:clear();" />
                <button class="button bg-yellow" type="reset">反悔了</button>
            </div> 
        </div> 
    </div>

    <script>
        var ID = null;
        function recycle(){
            window.location.href = "{:U('Student/toRecycle/id/" + ID +"')}";
        }
        $(function(){
            $(".table a[name='check']").click(function(){
                ID = $(this).parent().find("input[name='id']").val();
               
                $.ajax({
                    url: "{:U('Student/checkDetail')}",
                    data: {
                        id: ID,
                    },
                    type: 'post',
                    dataType: 'json',
                    success: function(data){
                        if(data.state == true){
                            for(var x in data.detail){
                                if(x == 'stuSex'){
                                    $(".dialog ." + x + "").html(data.detail[x] == 1 ? '男' : '女');
                                }else{
                                    $(".dialog ." + x + "").html(data.detail[x]);
                                }
                            }
                        }else{
                            return ;
                        }
                    }
                }); 
            });

            $(".table a[name='reset']").click(function(){
                var id = $(this).parent().find("input[name='id']").val();
                window.location.href = "{:U('Student/reset/id/" + id +"')}";
            });

            $(".table a[name='delete']").click(function(){
                var id = $(this).parent().find("input[name='id']").val();
                ID = id;
            });

        });
    </script>