<div class="adminme">
    <div class="line-big">
        <div class="xm3">
            <div class="panel border-back">
                <div class="panel-body text-center">
                    <img src="__IMG__/sex_<?php echo $usrSex == 1 ? 'a' : 'v'; ?>.jpg" width="120" class="radius-circle" /><br />
                    {$usrName}
                </div>
                <div class="panel-foot bg-back border-back">&nbsp;<br/>您好，{$usrName} <br>&nbsp;</div>
            </div>
            <br />
            <div class="panel">
                <div class="panel-head"><strong>站点统计</strong></div>
                <ul class="list-group">
                    <li><span class="float-right badge bg-red">1</span><span class="icon-user"></span> 用户</li>
                    <li><span class="float-right badge bg-main">{$msgCount}</span><span class="icon-file"></span> 消息</li>
                    <li><span class="float-right badge bg-main">{$gpCount}</span><span class="icon-shopping-cart"></span> 毕设</li>
                </ul>
            </div>
            <br />
        </div>
        <div class="xm9">
            <div class="alert alert-yellow"><span class="close"></span><strong>注意：</strong>您有{$msgCount}条信息，<a href="{:U('Teacher/msg')}">点击查看</a>。</div>
            <div class="alert">
                <h4>教师课题管理系统</h4>
                <p class="text-gray padding-top">课题管理系统，动态网站技术<br/>汇集教师信息、课题信息以及其他与之相关的数据，方便教师对数据实时进行管理</p>
                <a target="_blank" class="button bg-dot icon-user" href="{:U('Teacher/person')}"> 个人管理</a> 
                <a target="_blank" class="button bg-main icon-file-text" href="{:U('Teacher/bslist')}"> 毕设管理</a> 
            </div>
        </div>
    </div>
    <p class="text-right text-gray">基于<a class="text-gray" target="_blank" href="#">郑少卓</a>构建   </p>
</div>