<div class="admin">
    <div class="line-big">
        <div class="xm3">
            <div class="panel border-back">
                <div class="panel-body text-center">
                    <img src="__IMG__/sex_a.jpg" width="120" class="radius-circle" /><br />
                    admin
                </div>
                <div class="panel-foot bg-back border-back">&nbsp;<br/>您好，<?php echo session("NAME"); ?><br/>&nbsp;</div>
            </div>
            <br />
            <div class="panel">
                <div class="panel-head"><strong>站点统计</strong></div>
                <ul class="list-group">
                    <li><span class="float-right badge bg-red">{$CLists.usr}</span><span class="icon-user"></span> 用户</li>
                    <li><span class="float-right badge bg-main">{$CLists.teacher}</span><span class="icon-file"></span> 教师</li>
                    <li><span class="float-right badge bg-main">{$CLists.student}</span><span class="icon-shopping-cart"></span> 学生</li>
                    <li><span class="float-right badge bg-main">{$CLists.message}</span><span class="icon-file-text"></span> 消息</li>
                    <li><span class="float-right badge bg-main">{$CLists.gp}</span><span class="icon-database"></span> 毕设</li>
                </ul>
            </div>
            <br />
        </div>
        <div class="xm9">
            <div class="alert alert-yellow"><span class="close"></span><strong>注意：</strong>您有0条未读信息，<a href="#">点击查看</a>。</div>
            <div class="alert">
                <h4>课题管理系统介绍</h4>
                <p class="text-gray padding-top">课题管理系统，动态网站技术<br/>汇集教师信息、学生信息、课题信息以及其他与之相关的数据，方便管理员对数据实时进行管理</p>
                <?php if(session("state") != 3): ?>
                <a target="_blank" class="button bg-dot icon-user" href="{:U('Teacher/index')}"> 教师管理</a> 
                <?php endif; ?>
                <?php if(session("state") != 2): ?>
                <a target="_blank" class="button bg-main icon-file-text" href="{:U('Student/index')}"> 学生管理</a>
                <?php endif; ?>
                <?php if(session("state") == 1): ?>
                <a target="_blank" class="button border-main icon-code" href="{:U('Design/index')}"> 课题管理</a>
                <?php endif; ?>
            </div>
            <div class="panel">
                <div class="panel-head"><strong>系统信息</strong></div>
                <table class="table">
                    <tr><th colspan="2">服务器信息</th><th colspan="2">系统信息</th></tr>
                    <tr>
                        <td width="120" align="right">操作系统：</td>
                        <td>{$system['os']}</td>
                        <td width="120" align="right">Web服务器：</td>
                        <td>{$system['web_os']}</td>
                    </tr>
                    <tr>
                        <td align="right">主页：</td>
                        <td><a href="#" target="_blank">{$system['domainname']}</a></td>
                        <td align="right">IP：</td>
                        <td>{$system['ip']}</td>
                    </tr>
                    <tr>
                        <td align="right">程序语言：</td>
                        <td>{$system['language']}</td>
                        <td align="right">语言版本：</td>
                        <td><a href="#" target="_blank">{$system['php_version']}</a></td>
                    </tr>
                    <tr>
                        <td align="right">数据类型：</td>
                        <td>{$system['db_os']}</td>
                        <td align="right">数据库版本：</td>
                        <td>{$system['db_version']}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <p class="text-right text-gray">基于<a class="text-gray" target="_blank" href="#">郑少卓</a>构建   </p>
</div>