
    <div class="admin">
        <div class="panel admin-panel">
            <div class="panel-head">
                <input type="button" class="button button-small border-green" value="新增教师" onclick="javascript:window.location.href='{:U('Teacher/add')}';" />
                <input type="button" class="button button-small border-blue" value="回收站" onclick="javascript:window.location.href='{:U('Teacher/recycle')}'" />
            </div>
            <div class="padding border-bottom">
                <form action="{:U('Teacher/index')}" class="form-inline">
                    <div class="form-group">
                        <div class="label"><label for="thrCard">工号</label></div>
                        <div class="field">
                            <input type="text" class="input" id="thrCard" name="thrCard" size="12" value="<?php echo isset($seachData['thrCard']) && !empty($seachData['thrCard']) ? $seachData['thrCard'] : '';?>" placeholder="教师工号" />
                        </div>
                    </div>
                    &nbsp;
                    <div class="form-group">
                        <div class="label"><label for="thrName">姓名</label></div>
                        <div class="field">
                            <input type="text" class="input" id="thrName" name="thrName" size="12" value="<?php echo isset($seachData['thrName']) && !empty($seachData['thrName']) ? $seachData['thrName'] : '';?>" placeholder="教师姓名" />
                        </div>
                    </div>
                    &nbsp;
                    <div class="form-group">
                        <div class="label"><label for="thrSex">教师性别</label></div>
                        <div class="field">
                            <select class="input" name="thrSex" id="thrSex">
                                <option value="">请选择</option> 
                                <option <?php echo $seachData['thrSex'] == 1 ? 'selected="selected"' : '' ;?> value="1">男</option>
                                <option <?php echo $seachData['thrSex'] == 2 ? 'selected="selected"' : '' ;?> value="2">女</option>
                            </select>
                        </div>
                    </div>
                    &nbsp;
                    &nbsp;
                    <div class="form-button">
                        <button class="button bg-green" type="submit">检索</button>
                    </div>
                </form>
            </div>
            <table class="table table-hover">
                <tr>
                    <th width="80">教师编号</th>
                    <th width="120">登陆账号</th>
                    <th width="140">真实姓名</th>
                    <th width="140">教师性别</th>
                    <th width="140">联系方式</th>
                    <th width="*">研究方向</th>
                    <th width="180">操作</th>
                </tr>
                <volist name="usrList" id="index">
                <tr>
                    <td>{$index.thrId}</td>
                    <td>{$index.thrName}</td>
                    <td>{$index.thrRealName}</td>
                    <td>
                        <?php echo $index['thrSex'] == 1 ? '男' : '女'; ?>
                    </td>
                    <td>{$index.thrPhone}</td>
                    <td>{$index.thrStudy}</td>
                    <td>
                        <input type="hidden" name="id" value="{$index.thrId}"/>
                        <a class="button border-yellow button-little dialogs" name="check" href="#" data-toggle="click" data-target="#checkdialog" data-mask="1" data-width="30%">查看</a>
                        <a class="button border-blue button-little" name="reset" href="#">重置密码</a>
                        <a class="button border-green button-little dialogs" name="delete" href="#" data-toggle="click" data-target="#mydialog" data-mask="1" data-width="30%">删除</a>
                    </td>
                </tr>
                </volist>
                </table>
            <div class="panel-foot text-center">
                <div class ="green-black">{$page}</div>
            </div>
        </div>
        <br />
        <p class="text-right text-gray">基于<a class="text-gray" target="_blank" href="#">郑少卓</a>构建   </p>
    </div>
    
    <div id="checkdialog"> 
        <div class="dialog"> 
            <div class="dialog-head"> 
                <span class="close rotate-hover"></span> 
                <strong>教师详情</strong> 
            </div> 
            <div class="dialog-body">
                <div class="form-group">
                    <p>登陆账号：  <a class="thrName" href="#"></a></p>
                    <p>真实姓名：  <a class="thrRealName" href="#"></a></p>
                    <p>教师性别：  <a class="thrSex" href="#"></a></p>
                    <p>教师年龄：  <a class="thrAge" href="#"></a></p>
                    <p>研究方向：  <a class="thrStudy" href="#"></a></p>
                    <p>联系方式：  <a class="thrPhone" href="#"></a></p>
                    <p>邮箱地址：  <a class="thrEmail" href="#"></a></p>
                    <p>办公地址：  <a class="thrAddress" href="#"></a></p>
                </div>
            </div> 
        </div> 
    </div>

    <div id="mydialog"> 
        <div class="dialog"> 
            <div class="dialog-head"> 
                <span class="close rotate-hover"></span> 
                <strong>教师操作</strong> 
            </div> 
            <div class="dialog-body">
                <div class="form-group">
                    <p>是否确认要删除该教师？</p>
                    <p>O(∩_∩)O~~(为可恢复删除)</p>
                </div>
                <input type="button" class="button bg-main" value="删了吧" onclick="javascript:recycle();" />
                <button class="button bg-yellow" type="reset">反悔了</button>
            </div> 
        </div> 
    </div>
        

    <script>
        var ID = null;
        function recycle(){
            window.location.href = "{:U('Teacher/toRecycle/id/" + ID +"')}";
        }
        $(function(){
            $(".table a[name='check']").click(function(){
                ID = $(this).parent().find("input[name='id']").val();
               
                $.ajax({
                    url: "{:U('Teacher/checkDetail')}",
                    data: {
                        id: ID,
                    },
                    type: 'post',
                    dataType: 'json',
                    success: function(data){
                        if(data.state == true){
                            for(var x in data.detail){
                                if(x == 'thrSex'){
                                    $(".dialog ." + x + "").html(data.detail[x] == 1 ? '男' : '女');
                                }else{
                                    $(".dialog ." + x + "").html(data.detail[x]);
                                }
                            }
                        }else{
                            return ;
                        }
                    }
                }); 
            });

            $(".table a[name='reset']").click(function(){
                var id = $(this).parent().find("input[name='id']").val();
                window.location.href = "{:U('Teacher/reset/id/" + id +"')}";
            });

            $(".table a[name='delete']").click(function(){
                var id = $(this).parent().find("input[name='id']").val();
                ID = id;
            });

        });
    </script>