
<div class="adminme">
    <form method="post" class="form-x" action="#">
         <div class="form-group">
            <div class="label"><label for="name">毕设编号</label></div>
            <div class="field">
                <input type="text" class="input" size="50" placeholder="毕设编号"  value="{$meDetail.gpId}" disabled="disabled" />
            </div>
        </div>
        <div class="form-group">
            <div class="label"><label for="name">毕设题目</label></div>
            <div class="field">
                <input type="text" class="input" size="50" placeholder="毕设题目" value="{$meDetail.gpTitle}" disabled="disabled" />
            </div>
        </div>
        <div class="form-group">
            <div class="label"><label for="pwd">毕设目的</label></div>
            <div class="field">
                <textarea class="input" rows="3" cols="30" placeholder="毕设目的">{$meDetail.gpAim}</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="label"><label for="age">毕设内容</label></div>
            <div class="field">
                <textarea class="input" rows="3" cols="30" placeholder="毕设内容">{$meDetail.gpContent}</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="label"><label for="age">毕设要求</label></div>
            <div class="field">
                <textarea class="input" rows="3" cols="30" placeholder="毕设要求">{$meDetail.gpRequest}</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="label"><label for="age">必备知识</label></div>
            <div class="field">
                <textarea class="input" rows="3" cols="30" placeholder="必备知识">{$meDetail.gpMust}</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="label"><label for="age">其他</label></div>
            <div class="field">
                <textarea class="input" rows="3" cols="30" placeholder="其他">{$meDetail.gpOthers}</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="label"><label for="age">提交形式</label></div>
            <div class="field">
                <input type="text" class="input" size="50" placeholder="提交形式"  value="{$meDetail.gpFormal}" />
            </div>
        </div>
        <div class="form-group">
            <div class="label"><label for="phone">指导老师</label></div>
            <div class="field">
                <input type="text" class="input" size="50" placeholder="指导老师"  value="{$meDetail.thrRealName}" />
            </div>
        </div>
        <div class="form-group">
            <div class="label"><label for="email">联系方式</label></div>
            <div class="field">
                <input type="text" class="input" size="50" placeholder="联系方式" value="{$meDetail.thrPhone}" />
            </div>
        </div>
        <div class="form-group">
            <div class="label"><label for="age">邮件地址</label></div>
            <div class="field">
                <input type="text" class="input" size="50" placeholder="邮件地址"  value="{$meDetail.thrEmail}" />
            </div>
        </div>
        <div class="form-group">
            <div class="label"><label for="address">办公地点</label></div>
            <div class="field">
                <input type="text" class="input" size="50" placeholder="办公地点" value="{$meDetail.thrAddress}" />
            </div>
        </div>
        <div class="form-group">
            <div class="label"><label for="age">研究方向</label></div>
            <div class="field">
                <input type="text" class="input" size="50" placeholder="研究方向"  value="{$meDetail.thrStudy}" />
            </div>
        </div>

        <div class="form-button">
            <button class="button bg-yellow form-reset " type="reset">后退</button>  
        </div>                
    </form>   
    <p class="text-right text-gray">基于<a class="text-gray" target="_blank" href="#">郑少卓</a>构建   </p>
</div>
