
<div class="adminme">
    <div class="panel admin-panel">
        <div class="panel-head"><strong>内容列表</strong></div>
        <div class="padding border-bottom">
            <a class="button button-small border-green dialogs disabled" <?php echo $ff['thrId'] != null ? '' : 'disabled="disabled"';?> name="addmsg" href="#" data-toggle="click" data-target="#mymsgdialog" data-mask="1" data-width="50%">新增消息</a>
        </div>
        <table class="table table-hover">
            <tr>
                <th width="60">编号</th>
                <th width="140">信息时间</th>
                <th width="120">发信人</th>
                <th width="120">收信人</th>
                <th width="*">信息内容</th>
                <th width="100">操作</th>
            </tr>
            <volist name="adminList" id="index">
            <tr class="red">
                <td>{$index.msgId}</td>
                <td>{$index.createTime|date="m-d i:m:s",###}</td>
                <td>管理员</td>
                <td>所有学生</td>
                <td>{$index.msgContent}</td>
                <td>
                    <!-- <input type="hidden" name="id" value="{$index.msgId}"/> -->
                    <!-- <a class="button border-red button-little dialogs" name="del" href="#" data-toggle="click" data-target="#mydeldialog" data-mask="1" data-width="30%">删除</a> -->
                    无操作
                </td>
            </tr>
            </volist>
            <!-- 楼上是管理员的消息 -->
            <volist name="List" id="index">
            <tr>
                <td>{$index.msgId}</td>
                <td>{$index.createTime|date="m-d i:m:s",###}</td>
                <td>
                    <?php 
                        if($index['msgFromId'] == $ff['thrId']){
                            echo $ff['thrRealName'];
                        }else{
                            echo $usrName;
                        }
                    ?>
                </td>
                <td>
                    <?php 
                        if($index['msgAccessId'] == $ff['thrId']){
                            echo $ff['thrRealName'];
                        }else{
                            echo $usrName;
                        }
                    ?>
                </td>
                <td>{$index.msgContent}</td>
                <td>
                    <input type="hidden" name="id" value="{$index.msgId}"/>
                    <a class="button border-green button-little dialogs" name="del" href="#" data-toggle="click" data-target="#mydeldialog" data-mask="1" data-width="30%">删除</a>
                </td>
            </tr>
            </volist>
            </table>
        <div class="panel-foot text-center">
            {$page}
        </div>
    </div>
    <p class="text-right text-gray">基于<a class="text-gray" target="_blank" href="#">郑少卓</a>构建   </p>
</div>

<div id="mymsgdialog"> 
    <div class="dialog"> 
        <div class="dialog-head"> 
            <span class="close rotate-hover"></span> 
            <strong>新增消息</strong> 
        </div> 
        <div class="dialog-body">
            <form action="{:U('Student/addMsg')}" method="post">
                <div class="form-group">
                    <div class="label"><label for="receive">收信人：</label></div>
                    <div class="field">
                        <input type="hidden" id="receive" name="receive" value="{$ff.thrId}" />
                        <input type="text" class="input" disabled="disabeld" size="30" placeholder="收信人" value="{$ff.thrRealName}" />
                    </div>
                </div>
                <div class="form-group">
                    <div class="label"><label for="content">信息内容：</label></div>
                    <div class="field">
                        <textarea class="input" rows="3" name="content" id="content" cols="30" placeholder="信息内容"></textarea>
                    </div>
                </div>
                <div class="form-button">
                    <input type="submit" class="button bg-main" value="Send ..." />
                    <button class="button bg-yellow" type="reset">刷新</button>
                </div>
            </form>
        </div> 
    </div> 
</div>
<div id="mydeldialog"> 
    <div class="dialog"> 
        <div class="dialog-head"> 
            <span class="close rotate-hover"></span> 
            <strong>消息操作</strong> 
        </div> 
        <div class="dialog-body">
            <div class="form-group">
                <p>是否确认要删除该消息？</p>
            </div>
            <input type="button" class="button bg-main" value="果断的选择" onclick="javascript:del();" />
            <button class="button bg-yellow" type="reset">再考虑考虑</button>
        </div> 
    </div> 
</div>



<script>
    var ID = null;
    function del(){
        window.location.href = "{:U('Student/delMsg/id/" + ID + "')}";
    }
    $(function(){
        $(".table a[name='del']").click(function(){
            ID = $(this).parent().find("input[name='id']").val();
        });

    });
</script>
